# Binaries
*.class
*.jar
# Build scripts
*.bat
*.sh
# Documentation
*.html
*.css

# Build directories
[Bb]in/
[Ll]ib/
[Dd]oc/
[Dd]ocs/
[Dd]ocumentation/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

*.lib*
